asttokens==2.2.1
attrs==23.1.0
certifi==2023.5.7
charset-normalizer==3.2.0
click==8.1.7
click-plugins==1.1.1
cligj==0.7.2
et-xmlfile==1.1.0
executing==1.2.0
fiona==1.9.5
GeoAlchemy2==0.14.2
geopandas==0.14.1
greenlet==2.0.2
idna==3.4
isodate==0.6.1
lingua==4.15.0
lingua-language-detector==2.0.2
numpy==1.25.1
openpyxl==3.1.2
packaging==23.2
pandas==2.0.3
polib==1.2.0
psycopg2-binary==2.9.6
pure-eval==0.2.2
pyparsing==3.1.0
pyproj==3.6.1
python-dateutil==2.8.2
pytz==2023.3
PyYAML==6.0
pyzmq==25.1.0
rdflib==6.3.2
requests==2.31.0
shapely==2.0.2
six==1.16.0
SPARQLWrapper==2.0.0
SQLAlchemy==2.0.18
stack-data==0.6.2
tornado==6.3.2
traitlets==5.9.0
typing_extensions==4.7.1
tzdata==2023.3
urllib3==2.0.3
wcwidth==0.2.6
